# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
charset = utf-8
trim_trailing_whitespace = false

# JavaScript/HTML/CSS files
[*.{js,html,css}]
charset = utf-8
indent_style = space
indent_size = 4

# Python files
[*.py]
charset = utf-8
indent_style = space
indent_size = 4

# JSON files
[*.json]
charset = utf-8
indent_style = space
indent_size = 2
